{% extends 'layout.html' %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{ total_stocks_cash|usd }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for stock, price, total in stocks_prices %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares}}</td>
                <td>{{ price|usd }}</td>
                <td>{{ total|usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash|usd }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}